@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html
{
    height:100%;
}
/*Style scrollbar*/
::-webkit-scrollbar
{
    width: 10px;
}
/*Style scrollbar thumb*/
::-webkit-scrollbar-thumb
{
    background: #D3D3D3;
    border-radius: 10px;
}
/* Style for header*/
header
{
    background-color: black;
    float:left;
}
/* Style for body*/
body
{
    background-color: aliceblue;
    height:100%;
    font-family: 'Lato', sans-serif;
}
/* Style for footer*/
footer
{
bottom:0px;
z-index: 1px;
}
/* Posiitons for navigation buttons when the screen width is greater than or equal to 1000px*/
.navButtons
{
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
}
/* Style for 3 line icon when the screen width is less than 1000px*/
#navMiniButtonIcon
{
    position:relative;
    width:20px;
    height:auto;
    visibility: hidden;
    float:right;
}
/* Style when screen is less than 1000px*/
@media only screen and (max-width:1000px)
{
    /* Style for navigation buttons*/
    .navButtons button
    {
        width:0;
        height:0;
        visibility: hidden;
    }
    /* Displays 3 line icon*/
    #navMiniButtonIcon
    {
        visibility: visible;
    }
}
/* Style for navigation buttons when the screen width is greater than or equal to 1000px*/
.navButtons button
{
    background:transparent;
    height:30px;
    display:inline-block;
    border-radius:10px;
    border: transparent;
    color:white;
    z-index: 1;
}
/* Changes navigation button texts when moused over*/
.navButtons button:hover
{
    color:#FDAF2F;
}
/* Posiitons for navigation Menu and hides it on default*/
#navMiniMenu
{
    background-color:aliceblue;
    position: absolute;
    left:0;
    z-index: 2;
    height:100%;
    visibility: hidden;
}
/* Style for navigation Menu buttons*/
#navMiniMenu button
{
    border-radius: 10px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-style: solid;
    position:relative;
    margin-bottom: 50px;
    height: 60px;
    width:100%;
    z-index: 2px;
}
/* Style for navigation Menu buttons when hovered*/
#navMiniMenu button:hover
{
    color:#FDAF2F;
}
/* Style Logo*/
#logo
{
    width: 200px;
    height:auto;
}
/* Style for sign in button*/
#signInButton
{
    background-color: royalblue;
    color:white;
}
/* Style for sign in button when its hovered*/
#signInButton:hover
{
    background-color: rgb(43, 80, 190);
    color:#FDAF2F;
}

/*Style for pageTitle*/
#pageTitle
{
    color:#183173;
}
/*Style for submit Button enabled*/
#submitButton:enabled
{
    background-color: royalblue;
    border: transparent;
}
/*Style for submit Button enabled and hovered*/
#submitButton:enabled:hover
{
    background-color: rgb(43, 80, 190);
    border: transparent;
}
/*Style for error message*/
#message
{
    color:red;
}
