/*Style for entire input tag*/
input
{
    border-radius: 10px;
    border: 2px solid black;
    width: 300px;
    height:40px;
    margin-bottom: 20px;
    color:black;
}
/*Style for entire agency information*/
.info
{
    margin-bottom: 0px;
}
/*Displays divs side by side*/
.column 
{
    float: left;
    width: 33.33%;
    padding: 5px;
}
  
/* Clearfix (clear floats) */
.row::after 
{
content: "";
clear: both;
display: table;
}
/*Style for entire agency information*/
#containers
{
    margin-bottom: 20px;
    text-align: left;
}
/*Style for entire agency information*/
#agencyInfo
{
    margin-left: 50px;
    margin-top: 60px;
}
/*Style for concerns*/
#concernId
{
    border-radius: 10px;
    border: 2px solid black;
    width: 300px;
    height:40px;
    margin-bottom: 20px;
    width: 300px;
    height:auto;
}
/* Style when screen is less than 1000px*/
@media only screen and (max-width:1000px)
{
    footer 
    {
        margin-top: 0px;
    };
}