/*Style for entire form*/
form
{
    margin-top: 30px;
}

/*Style for entire input tag and a button for the user to select what country they are from*/
input, #selectedCountry
{
    border-radius: 10px;
    border: 2px solid black;
    width: 300px;
    height:40px;
    margin-bottom: 20px;
    color:#1f2a5a;
}

/*Style password*/
#pass
{
    margin-left: 20px;
}

/*Style for password requirement*/
#passRequirements
{
    text-align: left;
    border-radius: 10px;
    border: 1px solid black;
    background-color:#F3F3F3;
    width: 300px;
    visibility: hidden;
    height:0px;
}

/*Style for the dropdown that displays each country in the world*/
#countryDropDown
{
    border-radius: 5px;
    border: 1px solid black;
    background-color:white;
    padding: 10px;
    text-align: left;
    position:relative;
    display:none;
    width:302px;
    overflow:auto;
    z-index:2px;
    max-height: 300px;
}

/*Style search field for the country drop down menu*/
#countryId
{
    width:280px;
    display: "block";
    border: 2px solid #EAEAEA;
    border-radius: 0px;
}

/*Style password*/
#selectedCountry
{
    text-align: left;
    background-color: white;
    color: #6D6D6D;
}