<!DOCTYPE html>
<html>
	<head> 
        <!--Calls head.ejs to write a script that changes the title and imports all the basic js,css, and logos for the page-->
        <%-include("ejsSub/head.ejs", {name:"Sign Up"})%> 

        <!--Script for SignUp Page-->
        <script src="require.js"></script>

        <!--Script for SignUp Page-->
        <script src="contactScript.js"></script>

        <!--Fontawesom icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
        <style>
            /*Style for entire form*/
            form
            {
                margin-top: 30px;
            }

            /*Style scrollbar*/
            ::-webkit-scrollbar
            {
                width: 10px;
            }

            /*Style scrollbar thumb*/
            ::-webkit-scrollbar-thumb
            {
                background: #D3D3D3;
                border-radius: 10px;
            }
            textarea
            {
                border-radius: 10px;
                border: 2px solid #1f2a5a;
                width: 300px;
                height:40px;
                margin-bottom: 20px;
                width: 300px;
                height:auto;
            }
            /*Style for entire input tag and a button for the user to select what country they are from*/
            input
            {
                border-radius: 10px;
                border: 2px solid #1f2a5a;
                width: 300px;
                height:40px;
                margin-bottom: 20px;
                color:#1f2a5a;
            }

            /*Style for error message*/
            #message
            {
                color:red;
            }

            #submitButton:enabled
            {
                background-color: royalblue;
                border: transparent;
            }
        </style>
        <!--Calls whenWindowResizes.ejs to write a script that reads when the window is resized-->
        <%-include("ejsSub/whenWindowResizes.ejs")%> 
	</head>
	
	<body>
        <!--Calls header.ejs to write html to display the header and the navigation bar-->  
        <header class = "container-fluid">
            <%-include("ejsSub/header.ejs")%>
        </header>		
        <br/>

        <!--main container for content-->
        <div class = "text-center mt-5" >
            <h1>Contact Us</h1>
            <!--Displays error message if user puts in an invalid input-->
            <p id= "message"></p>
            <form method = "post" action = "/Contact_Submit" class = "container-fluid" id= "form">
                <!-- textbox for user to type their name, max length is 1000 and user has to to type something in before submitting-->

                <!-- textbox for user to type their first name--->
                <input type ="text" maxLength = "1000" name = "FirstName"  id = "fNameId" placeholder = "First name" onchange = "checkTextBox(this.id);"></input>
                <br/>
                <!--- textbox for user to type their last name--->
                <input type ="text"  maxLength = "1000" name = "LastName" id = "lNameId" placeholder = "Last name" onchange = "checkTextBox(this.id);"></input>	
                <br/>
                <!--- textbox for user to type their email--->
                <input type ="email" name = "Email" id = "emailId" required = "required" placeholder = "Email"></input>
                <br/>
                <!--- textbox for business phone--->
                <input type ="tel" name = "Phone" id = "phoneId" placeholder = "Phone example:403-222-3333" onchange = "checkPhone(this.id)"></input>
                <br/>
                <textarea name = "Concern" id = "concernId" placeholder = "What Do you need help with?" minLength = "1" onkeyup="validate();"></textarea>
                <br/>
                <!--- Button used to submit data --->
                <button type = "submit" name = "Submit" id = submitButton class = "btn btn-dark white-text mt-5" disabled = "disabled" onclick = "validate();">Submit</button>

                <!--- Button used to reset the fields -->
                <button type = "reset" id = "resetButton" class = "btn btn-dark white-text mt-5" onclick = "return confirm('Do you want to reset?');">Reset</button>
            </form>
        </div>

        <!--Footer-->
        <footer class = "container">
            <%-include("ejsSub/footer.ejs")%>
        </footer>
	</body>
</html>