<!DOCTYPE html>
<html>
	<head> 
        <%-include("head.ejs", {name:"Travel Experts Contact"})%> 

        <!--Calls whenWindowResizes.ejs to write a script that reads when the window is resized-->
        <%-include("whenWindowResizes.ejs")%> 
	</head>
	
	<body>
        <!--Calls header.ejs to write html to display the header and the navigation bar-->  
        <header class = "container-fluid">
            <%-include("header.ejs")%>
        </header>		
        <br/>

        <!--main container for content-->
        <div class = "text-center">
            
        </div>

        <!--Footer-->
        <footer class = "container">
            <%-include("footer.ejs")%>
        </footer>
	</body>
</html>