<!DOCTYPE html>
<html>
	<head> 
        <!--Calls head.ejs to write a script that changes the title and imports all the basic js,css, and logos for the page-->
        <%-include("ejsSub/head.ejs", {name:"Thank You For Submitting"})%> 

        <!--Calls whenWindowResizes.ejs to write a script that reads when the window is resized-->
        <%-include("ejsSub/whenWindowResizes.ejs")%> 
	</head>
	
	<body>
        <!--Calls header.ejs to write html to display the header and the navigation bar-->  
        <header class = "container-fluid">
            <%-include("ejsSub/header.ejs")%>
        </header>		
        <br/>

        <!--main container for content-->
        <div class = "text-center">
            <h1>Thank you for contacting us, we will get to you as soon as possible.</h1>
        </div>

        <!--Footer-->
        <footer class = "container">
            <%-include("ejsSub/footer.ejs")%>
        </footer>
	</body>
</html>