<!DOCTYPE html>
<html>
	<head> 
        <!--Calls head.ejs to write a script that changes the title and imports all the basic js,css, and logos for the page-->
        <%-include("ejsSub/head.ejs", {name:"Cheap Vacatoion Packages"})%> 

        <!--Calls whenWindowResizes.ejs to write a script that reads when the window is resized-->
        <%-include("ejsSub/whenWindowResizes.ejs")%> 
        <style>
            select
            {
                border-radius: 10px;
                border: 2px solid #1f2a5a;
                width: 50%;
                height:40px;
                color:#1f2a5a;
                
            }
            input
            {
                border-radius: 10px;
                border: 2px solid #1f2a5a;
                width: 20%;
                height:40px;
                color:#1f2a5a;
                
            }
            #vacationForm
            {
                position: relative;
                top:50px;
                border: 1px solid #1f2a5a;
                background-color: #F3F3F3 ;
                border-radius: 10px;
                padding-top: 2%;
                padding-bottom: 2%;
                z-index: 1;
            }
        </style>
	</head>
	
	<body>
        <!--Calls header.ejs to write html to display the header and the navigation bar-->  
        <header class = "container-fluid">
            <%-include("ejsSub/header.ejs")%>
        </header>		
        <br/>

        <!--main container for content-->
        <div class = "text-center">
            <div class = "container" id = "vacationForm">
                <form method = "get">
                    <select name = "Destination";>
                        <option value = "N/A">Select a country</option>
                        <option value = "1">Calgary</option>
                        <option value = "2">Edmonton</option>
                        <option value = "3">Vancover</option>
                    </select>
                    <input type = "date" name = "deparDate"></input> <!--- Creates date droplist for user to select a date --->	
                    <input type = "date" name = "arriveDate"></input> <!--- Creates date droplist for user to select a date --->	
                </form>
            </div>
        </div>

        <!--Footer-->
        <footer class = "container">
            <%-include("ejsSub/footer.ejs")%>
        </footer>
	</body>
</html>